.footer {
    padding: 2em;
    text-align: center;
}

.footer p {
    font-family: "JetBrains Mono", monospace;
    font-weight: 500;
}

.footer-heart {
    color: red;
}

.footer p a {
    text-decoration: underline;
    color: #666;
}
