.landing-content {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.landing-content h1 {
    font-family: "Playfair Display", serif;
    font-size: 3em;
    font-weight: 200;
}

.landing-content p {
    font-family: "JetBrains Mono", monospace;
    font-size: 1.5em;
    font-weight: 500;
}

.landing-instagram a {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
}
